
<div class="h-100">
  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" >
    <!-- This is the tree node template for leaf nodes -->
    <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding
                   [style.display]="shouldRender(node) ? 'flex' : 'none'"
                   class="tree-node pointer " (click)="selectTab(node.name)" >
      <!-- use a disabled button to provide padding for tree leaf -->
      <i class="{{node.className}} mt-2 mb-2 ml-2 mr-2"></i>
      {{node.name}}
    </cdk-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
                   [style.display]="shouldRender(node) ? 'flex' : 'none'"
                   class="tree-node">
      <button mat-icon-button cdkTreeNodeToggle color="accent"
              [attr.aria-label]="'toggle ' + node.filename"
              (click)="node.isExpanded = !node.isExpanded"
              [style.visibility]="node.expandable ? 'visible' : 'hidden'">
        <mat-icon class="mat-icon-rtl-mirror" color="accent">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </cdk-tree-node>
  </cdk-tree>
</div>
