<mat-card class="m-2">
  <div class="row">

    <div class="col-8">
      <h4>
      A little bit about myself
      </h4>
      <p>
        I love developing, there is something about creating an useful app that I find inspiring, I like to think that what I do makes the life of the users simpler, I also like the well written, readable code, as simple as can sound, it is no that common in my experience. I like working with other people, always is a good opportunity to learn and from others and teach them, is all about sharing knowledge.
      </p>
      <p>
        I have been IT manager, and I have been technical leader, but in the end a rather leading from developing, is just what I like the most.
      </p>
      <p>
        On the professional side I like a working environment where the company trust their employees, I don't like fixed schedules, I'm not necessarily more productive in the mornings.
      </p>
      <p>
        I really believe that the code you write speaks for you, whether is on behalf of you or against you depends on the passion you put to it.
      </p>
    </div>
    <div class="col-4">
      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="reom03"><a class="LI-simple-link" href='https://cl.linkedin.com/in/reom03/en-us?trk=profile-badge'>Raul Ortiz</a></div>
    </div>
  </div>
</mat-card>




