<div class="container-fluid vh-100 p-0 no-gutters">
  <app-topbar></app-topbar>
  <div class="vertical-text h-60 float-start shadow-sm border-dark border-right dark-theme" >
    <span class="ms-1 me-1">1: Project</span>
  </div>
  <div class="w-100 h-60" >
    <div class="row no-gutters h-100 dark-theme">
      <div class="col-md-2 h-100">
        <app-structure class="w-100 h-100"></app-structure>
      </div>
      <div class="col-md-10 dark-files shadow-sm h-100">
        <app-files class="w-100 h-100 overflow-auto"></app-files>
      </div>
    </div>
  </div>
  <div class="row h-25 no-gutters dark-theme">
    <app-shell class="col-md-12 h-100"></app-shell>
  </div>
</div>
