
<mat-card class="m-2">
  <h3>Education</h3>
  <div class="media">
    <img class="mr-3" src="assets/iutirla.jpg" alt="Generic placeholder image" width="200">
    <div class="media-body">
      <h1 class="mt-0">Rodolfo Romero Arismendi Institute</h1>
      <h3 class="mt-0">Bachelor Degree in Computer Science</h3>

    </div>
  </div>
</mat-card>
<app-certifications></app-certifications>
<mat-card class="m-2">
  <h3>Courses</h3>
  <mat-list>
    <mat-list-item> Desarrollo de Componentes Web con Servlets y JSP </mat-list-item>
    <mat-list-item> Java EE 6: Develop Database Applications with JPA </mat-list-item>
    <mat-list-item> Java Programming Language </mat-list-item>
    <mat-list-item> Java Server Faces Technology</mat-list-item>
    <mat-list-item>Oracle Database 11G, Advanced PL/SQL</mat-list-item>
    <mat-list-item>Oracle Database, Program with PL/SQL</mat-list-item>
    <mat-list-item>Oracle WebLogic Server 11g: Administration Essentials</mat-list-item>
    <mat-list-item>Using Java - for PL/SQL and database Developers</mat-list-item>
  </mat-list>
</mat-card>
