<h1 mat-dialog-title>Made by me, using:</h1>
<div mat-dialog-content>
  <div class="media">
    <img class="mr-3" src="assets/angular.png" alt="Angular" width="200">
    <div class="media-body">
      <h3 class="mt-0">v10.0.0</h3>
    </div>
  </div>
  <div class="media mt-3">
    <img class="mr-3" src="assets/angular-material-logo.png" alt="Material" width="200">
    <div class="media-body">
      <h3 class="mt-0">v10.0.1</h3>
    </div>
  </div>
  <div class="media mt-3">
    <img class="mr-3" src="assets/bootstrap.png" alt="Bootstrap" width="200">
    <div class="media-body">
      <h3 class="mt-0">v4.5.0</h3>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
