<div class="m-2 overflow-auto h-100">
  <mat-accordion >
    <mat-expansion-panel *ngFor="let job of jobs">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/{{job.logo}}" width="120">
        </mat-panel-title>
        <mat-panel-description>
          {{job.title}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p [innerHTML]="job.description"></p>
      <div class="mt-2" *ngIf="job.experience">
      <span>Knowledge of:</span>
      <mat-chip-list #chipExpList aria-label="Experience" class="mt-2">
        <mat-chip *ngFor="let exp of job.experience" [selectable]="'true'"
                  [removable]="'false'" >
          {{exp}}
        </mat-chip>
      </mat-chip-list>
      </div>
      <div class="mt-2" *ngIf="job.info.projects">
      <span class="mt-2">Projects</span>
      <mat-chip-list #chipList aria-label="Projects">
        <mat-chip *ngFor="let project of job.info.projects" [selectable]="'true'"
                  [removable]="'false'" >
          <a [href]="project.url" target="_blank" class="alert-link">{{project.name}}</a>
        </mat-chip>
      </mat-chip-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
